@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply antialiased text-gray-900 bg-white;
        font-family: 'Inter', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    :root {
        --slide-size: 100%;
    }

    @media (min-width: 768px) {
        :root {
            /* 
               Desktop: 3 items visible. 
               Move distance = 33.333% + portion of gap.
               Gap is 2rem (32px).
               Roughly 33.333% + 0.667rem
            */
            --slide-size: calc(33.333% + 0.667rem);
        }
    }
}

@layer utilities {
    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-brand to-accentOrange;
    }

    .grid-bg {
        background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
        background-size: 40px 40px;
    }

    .blur-glow {
        position: absolute;
        filter: blur(120px);
        z-index: -1;
        border-radius: 50%;
        opacity: 0.15;
    }

    .scroller-inner {
        display: flex;
        width: max-content;
        flex-wrap: nowrap;
        will-change: transform;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }
}